<div class="listenItem">
  <%= image(item) %> 
  <div class="listenItemText">
    You 
    <% if item["messageType"] == "logStream" %>
      <%= current_streaming_program_description(item) %>
    <% else %>
      <%= podcast_description(item) %>
    <% end %>

    <%= format_date( DateTime.parse(item["listenLog"]["createdAt"]) ) %><% if item['user']['application'] %> from <%= item['user']['application'] %><% end %>. You listened for 
    <%= format_duration item["listenLog"]["listenDuration"] %>.

    <% if ! iphone_client? %>
      <%= link_to_function("raw data", "$('##{item['_id']}').toggle()") %>
    <% end %>


    <% if item["messageType"] == 'logPodcast' %>
      <div class='episode-summary'><%= item["episode"]["summary"] %>
        <%= link_to("listen now", item["episode"]["enclosure"]) %>
      </div>
    <% end %>
  </div>

  <% if ! iphone_client? %>
    <div id="<%=item['_id']%>" class="itemRaw">
      <%= raw_item(item) %>
    </div>
  <% end %>
</div>
