<div class="listenItem">
  <%= image(item) %> 
  <div class="listenItemText">
    You 
    <% if item["messageType"] == "logStream" %>
      <%= current_streaming_program_description(item) %>
    <% else %>
      <%= podcast_description(item) %>
    <% end %>
    on
    <%= DateTime.parse(item["listenLog"]["createdAt"]).to_s(:long) %>. You listened for 
    <%= format_duration item["listenLog"]["listenDuration"] %>.

  </div>


</div>
