<h4>Listen Log for User <%= params[:id] %></h4>


<p>

  <br/>
  Showing <%= @offset + 1 %> - <%= [@offset + @limit, @offset + @items.size].min %>
  <br/>
  <% if @offset > 0  %>
    <%= link_to "previous #@limit", :offset => @offset - @limit  %>
  <% end %>
  <% if @items.size >= (@limit+1) %>
  <%= link_to "next #@limit", :offset => @offset + @limit %>
  <% end %>

</p>


<% @items[0, @limit].each do |x| %>
  <%= render :partial => 'users/item', :object => x['doc'] %>
<% end %>


