
<h4>Navigation</h4>
<ul class="navigation">

  <% if params[:id] || params[:user_id] %>

    <% if iphone_client? %>
      <li><%= link_to "About ListenLog", "/users/#{params[:id] || params[:user_id]}" %></li>
    <% end %>

    <li><%= link_to "ListenLog / Reload ListenLog", "/users/#{params[:id] || params[:user_id]}/activity" %></li>

    <li><%= link_to "Stream Listening Summary", "/users/#{params[:id] || params[:user_id]}/streams" %></li>

    <li><%= link_to "Program Listening Summary", "/users/#{params[:id] || params[:user_id]}/programs" %></li>

    <% unless iphone_client? %>
      <li><%= link_to "Export Data", "/users/#{params[:id] || params[:user_id]}/export.json" %></li>

      <li>
        <%= link_to "Delete Data", "/users/#{params[:id] || params[:user_id]}/activity/authorize_delete" %>
      </li>
    <% end %>

  <% end %>

  <% if iphone_client? %>
    <li>
    <%= link_to "Manage Your ListenLog", "/users/#{params[:user_id] || params[:id]}/account" %>
    </li>
  <% end %>

</ul>

<% if ! iphone_client? %>

<ul class="navigation">
  <li>
    <%= link_to "Home Page", "/" %>
  </li>
  <li>
    <%= link_to "Project VRM", "http://blogs.law.harvard.edu/vrm/" %>
  </li>
</ul>

<% end %>
